<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app = "dmm">
<head>
    <title>KPIT - PARKING ADMIN PORTAL</title>  
    <meta charset="utf-8"/>  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
 
     <script src="js/libs/jquery-1.11.3.js"></script>
        <script src="js/libs/angular.1.4.7.js"></script>
        <script src="js/libs/angular-animate.js"></script>
        <script src="js/libs/ng-file-upload.js"></script>
        <script src="css/bootstrap/js/bootstrap.js"></script>
        <script src="/js/libs/ui-bootstrap-0.14.3.js"></script>
        <script src="/js/libs/moment.js"></script>
        <script src="/js/libs/datetimepicker.js"></script>
        <script src="/js/libs/ng-flow-standalone.js"></script>
        <script src="js/app.js"></script>
     <script src="js/controllers/loginController.js"></script>
     
</head>
<body ng-controller="loginController as LC">
<form name="manualForm" class="manual-input">
    <h2 class="manual-input-heading">Login
    </h2>
    <div class="text-block">
        <input type="text" class="form-control manual-text up" name="employeeid" ng-class="{'error':manualForm.employeeid.$error.maxlength}" ng-model="LC.userName" placeholder="Username" required="" autofocus="">
        <span  class="glyphicon glyphicon-user"></span>

    </div>
    <div class="text-block">
        <input type="password" class="form-control manual-text down" ng-class="{'error':manualForm.assetid.$error.maxlength}" name="assetid" ng-model="LC.passWord" placeholder="Password" required="">
        <span class="glyphicon glyphicon-briefcase"></span>

    </div>
    <button class="btn btn-lg btn-success btn-block manual-btn" type="submit" ng-click="LC.LoginSave();">Submit</button>
    <!-- <span class="glyphicon glyphicon-repeat manual-refresh" title="Clear Fields" ng-if="MTC.eid!=undefined || MTC.aid!=undefined " ng-click="MTC.clearFields()"></span> -->
</form>

<div class="manual-alert" >
    <span class="alert alert-danger" role="alert" ng-show="!LC.isAuth" >
        <strong>Login failed!</strong> &nbsp;Invalid username or password, please try again.
    </span>
</div>
</body>
</html>
