
<!--   Created by shridharp2 on 2/3/2016.-->
<div class="block">
  <div class="header">
    <h3> Edit Event</h3>
    <button ng-click="EDC.toggleModalEdit()" class="r-close">&#215;</button>
  </div>
  <form name="EEC.myForm1" ng-submit="EEC.updateData()">
    <div class="content">
      <div class="row">
        <div class="col-md-12 form-group">
          <label>Event Title *</label>
          <input type="text" placeholder="Title" ng-pattern="EEC.pattern" name="eName" unique-title="{{EDC.events}}" ng-model="EEC.eventTitle" required="required" class="form-control"/>
          <div ng-show="EEC.myForm1.eName.$touched &amp;&amp; EEC.myForm1.eName.$error.required" class="has-error">Title is required!</div>
          <div ng-show="EEC.myForm1.eName.$error.pattern" class="has-error">Alphanumeric characters only!</div>
          <div ng-show="EEC.myForm1.eName.$error.unique &amp;&amp; EEC.myForm1.eName.$dirty" class="has-error">This title is already in use.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label>Description</label>
          <textarea rows="2" placeholder="Desciption" ng-model="EEC.eventDescription" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group file-upload">
          <label>Image Upload</label>
          <div>
            <label class="btn btn-primary file-btn">Select Files
              <input type="file" ngf-select="" ng-model="EEC.picFile" name="file" accept="image/*" ngf-max-size="2MB" multiple="multiple" ngf-multiple="false" enctype="multipart/form-data"/>
            </label>
          </div>
          <div class="thumb-gallery">
            <div ng-repeat="img in EEC.picFile track by $index" class="thumb-container"><img ngf-src="img" class="thumb"/>
              <button ng-click="EEC.removeImage($index)" class="thumb-close">&#215;</button><span ng-bind="img.name" class="fname"></span>
            </div>
          </div>
          <div><span ng-repeat="img in EEC.eventImages" class="thumb-block"><img ng-src="{{img.image_url}}" class="thumb"/><span class="checkbox">
                <label>
                  <input type="checkbox" value="{{img.active}}" ng-model="img.active"/>
                </label></span><span ng-bind="EDC.getNameByPath(img.image_url)" class="fname"></span></span></div>
          <!--.has-error(ng-show="EEC.isFile") Minimum one image required.-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <table class="table table-blank">
            <thead>
              <tr>
                <th>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="EEC.checkMaster" ng-change="EEC.checkAll();"/><span>TV</span>
                    </label>
                  </div>
                </th>
                <th>
                  <label>Start time</label>
                </th>
                <th>
                  <label>End time</label>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tv in EEC.allTvs track by $index" ng-class="{'selected':tv.isChecked}" class="this-row">
                <td class="td-check">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="{{tv.tv_id}}" ng-required="!EEC.isTvChecked" ng-model="tv.isChecked"/><span ng-bind="tv.tv_name" get-tv-details="{{tv.tv_id}}"></span>
                    </label>
                  </div>
                </td>
                <td>
                  <datetimepicker hour-step="1" minute-step="10" ng-model="tv.start_datetime" show-meridian="false" date-format="dd-MMM-yyyy" date-options="{showWeeks: false}" readonly-time="false" hidden-time="!tv.isChecked" readonly-date="!tv.isChecked" name="datetimepicker{{$index}}" show-spinners="true" date-opened="false" is-req="tv.isChecked"></datetimepicker>
                </td>
                <td>
                  <datetimepicker hour-step="1" minute-step="10" min-date="tv.start_datetime" ng-model="tv.end_datetime" show-meridian="false" date-format="dd-MMM-yyyy" date-options="{showWeeks: false}" readonly-time="false" hidden-time="!tv.isChecked" readonly-date="!tv.isChecked" name="datetimepicker{{$indedx+100}}" show-spinners="true" date-opened="false" is-req="tv.isChecked"></datetimepicker>
                </td>
              </tr>
            </tbody>
          </table>
          <div ng-hide="EEC.anySelected()" class="has-error">Minimum one scheduled TV required.</div>
        </div>
      </div>
    </div>
    <uib-progressbar max="100" value="100" type="info" ng-show="EEC.WaitForIt" class="progress-striped active"></uib-progressbar>
    <div class="footer">
      <div class="pull-right">
        <button type="submit" ng-disabled="EEC.WaitForIt" class="btn btn-success">Update</button>
        <button type="button" ng-click="EDC.toggleModalEdit()" class="btn btn-default">Cancel</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>